header
/* giving my header a white color and a border bottom*/
{
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;

}
.logo
/*aligning our logo to the top left of our document*/
{
    width: 200px;
    height: 60px;
    background-image: url('../images/logo.png');
    margin-left: 20px;
    background-repeat: no-repeat;
}
